[MASTER]
; Official plugin for using pylint with pytest
load-plugins=pylint_pytest

[MESSAGES CONTROL]
disable=C0115, C0116, C0301, W0612
; C0115: missing-class-docstring - Ruff makes this redundant
; C0116: missing-function-docstring - Ruff makes this redundant
; C0301: line-too-long - Ruff makes this redundant
; W0612: unused-variable - Ruff makes this redundant
